/SRC/v15
/SRC/Library
*.csproj
*.sln
/SRC/Temp/TarGZ
/SRC/Temp
/BUILD
/SRC/.vs
/SRC/obj
/SRC/UserSettings
/SRC/Logs
DOC/GD/.~lock.Brainstorm_.ods\#
DOC/.~lock.Preprod_prepa.ods\#
DOC/.~lock.Planning.ods\#
DOC/.~lock.GDD.odt\#
DOC/GD/Tower/.~lock.AbilityDesign.ods\#
DOC/GD/Tower/.~lock.UnitDesign.ods\#
DOC/GD/Enemy/.~lock.EnemyDesign.ods\#
DOC/GD/Tower/.~lock.ClanDesign.ods\#
*.ods#
*.odt#
